<!DOCTYPE html>
<html>
<head>
  <title>Trip Planner</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
  <link href="/stylesheets/home.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Pacifico">
    <style>
      body {
        font-family: 'Pacifico', cursive;
        font-size: 24px;
      }
    </style>
</head>
<body class="page-container">

<!-- Navigation Bar-->

<nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> TripPlanner
  </a>
  <ul class="nav navbar-nav myNavLink">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
</nav>



<div class="container-fluid page-container">
  <div class="row">

    <!-- Map -->
    <div class="col-md-8">
      <div id="map-canvas">  
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgG_HWL_7pGdWL9HRxJFZwypWf6ZsOG2Q&sensor=true"></script>  
      </div>
    </div> 
    <!--End of Map -->

    <!-- Sidebar -->
    <div class="col-md-4 sidebar">
      <div class="panel panel-default myPanel myPanelInner">
        <div class="panel-body">
          <p><strong>Hotels</strong></p>
            <select class="selectpicker">
              {% for hotel in hotels%}
              <option>{{hotel.name}}</option>
              {% endfor %}
            </select>

            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

          <p><strong>Restaurants</strong></p>
            <select class="selectpicker">
              {% for restaurant in restaurants%}
              <option>{{restaurant.name}}</option>
              {% endfor %}
            </select>

            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>

          <p><strong>Activities</strong></p>
            <select class="selectpicker">
              {% for activity in activities%}
              <option>{{activity.name}}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <div class="panel panel-default myPanel">
        <div class="panel-body myPanelInner">
          Day ?
        </div>
      </div>
      <div class="panel panel-default myPanel myPanelInner">
        <div class="panel-heading">

          <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn btn-primary btn-lg gradient" role="group" aria-label="...">1</div>
            <div class="btn btn-primary btn-lg gradient" role="group" aria-label="...">2</div>
            <div class="btn btn-primary btn-lg gradient" role="group" aria-label="...">3</div>
            <div class="btn btn-primary btn-lg gradient" role="group" aria-label="...">+</div>
          </div>
        </div>
        <div class="panel-body">
          My Hotel <br>
          My Restaurants <br>
          My Activities
        </div>
      </div>
    </div> 
    <!--End of sidebar-->
  </div>
</div>

{% block content %} 
{% endblock %}

<script src="jquery/jquery.min.js"></script> 
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="/javascript/map.js"></script>
<script src="/javascript/stars.js"></script>
</body>
</html>
